{{ define "main" }}
<div>
    <div>
        {{ .Content }}
    </div>
    <div>
        <div>
            {{- with .Param "location" }}
            {{- with .address }}
            <h3>Address</h3>
            <address>
                {{- range $i, $l := . }}
                {{- if $i }}<br>{{ end }}
                {{ . }}
                {{- end }}
            </address>
            {{- end }}
            {{- $geo := .geo }}
            {{- with $geo }}
            {{- $apiKey := os.Getenv "API_KEY" }}
            {{- if $apiKey }}
            {{- $url := printf "https://maps.googleapis.com/maps/api/staticmap?center=%f,%f&size=720x320&zoom=15&key=%s" $geo.lng $geo.lat $apiKey }}
            {{- with resources.GetRemote $url }}
            {{- with .Err }}
            {{- errorf $url . }}
            {{- errorf "%s" . }}
            {{- else }}
            <a target="_blank" href="https://www.google.com/maps/search/?api=1&map_action=map&query={{ $geo.lng }}%2C{{ $geo.lat }}&query_place_id={{ $geo.placeId }}"><img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt=""></a>
            {{- end }}
            {{- else }}
            {{- errorf "Unable to get remote resource %q" $url }}
            {{- end }}
            {{- end }}
            {{- end }}
            {{- end }}
        </div>
        {{- with .Param "info" }}
        <div>
            <h3>Info</h3>
            <dl>
                {{- with .brewery }}
                <dt>Brewery</dt>
                <dd>{{ . }}</dd>
                {{- end }}
                {{- with .tables }}
                <dt>Tables</dt>
                <dd>{{ . }}</dd>
                {{- end }}
            </dl>
        </div>
        {{- end }}
    </div>
</div>
{{ end }}