{{- define "title" }}Project - {{ .Title }}{{ end }}
{{- define "main" }}
<div>
    <div>
        <h1>{{ .Title }}</h1>
        {{- with .Param "planned_date" }}
        <p>This hike is planned for the {{ time.Format "January 2, 2006" . }}.</p>
        {{- end }}
        {{- .Content }}
        {{- with .Param "facts"}}
        <p>
            <b>Facts:</b><br>
            Difficulty: {{ .difficulty }}<br>
            Distance: {{ .distance }}<br>
            Duration: {{ .duration }} h<br>
            Ascent: {{ .ascent }} hm<br>
            Descent: {{ .descent }} hm<br>
            Max altitude: {{ .highest }} hm<br>
            Min altitude: {{ .lowest }} hm<br>
            Departure: {{ .departure }}<br>
            Estimated return: {{ .return }}<br>
            <i>The return time is only an estimation, we might be back later.</i>
        </p>
        {{- end }}
        {{- with .Param "bring"}}
        <p>
            <b>Please bring:</b>
            <ul>
            {{ range . }}
                <li>{{ . }}</li>
            {{- end }}
            </ul>
        </p>
        {{- end }}
        {{- with .Param "meet" }}
        <p>
            <b>Meet:</b><br>
            {{- if (eq (. | len) 1) }}
            {{- range . }}
            We meet at {{ .time }} at {{ if .geo
            }}<a href="https://www.google.com/maps/search/?api=1&query={{ .geo }}" target="_blank">{{ end }}{{ .location
                }}{{ if .geo }}</a>{{ end }}
            {{- end }}
            {{- else if (gt (. | len) 1) }}
            You can join at any of those locations, please make sure you are there on time:
            <ul>
                {{- range . }}
                <li>{{ .time }}: {{ if .geo }}<a href="https://www.google.com/maps/search/?api=1&query={{ .geo }}" target="_blank">{{ end }}{{ .location }}{{ if .geo }}</a>{{ end }}
                {{- end }}
            </ul>
        {{- end }}
        </p>
        {{- end }}
        {{- with .Param "commute" }}
        <p>
            <b>Journey:</b>
        <ul>
            {{- range . }}
            <li><b>{{ .from }}</b>{{ with .departure }} ({{ . }}){{ end }} {{ if .by }}{{ .by }} {{ with .direction }}(direction {{ . }}) {{
                end }}{{ end }}to {{ .to }}{{ with .arrival }} ({{ . }}){{ end }}{{ with .comment }} - <i>{{ . }}</i>{{ end }}</i></li>
            {{- end }}
        </ul>
        </p>
        {{- end }}
        <p>
            <b>Disclaimer</b><br>
            Please be aware that I'm no professional hiking guide.<br>You're responsible for your own and the groups
            safety.<br>I expect you to act cautious and with respect for the nature.{{ with .Param "disclamer" }}<br>
            {{ . }}
            {{ end }}
        </p>
    </div>
</div>
{{- end }}