{{ define "title" }}Project - {{ .Title }}{{ end }}
{{ define "main" }}
<section>
    <aside>
        <h3>{{ .Param "title" }}</h3>
        {{- with .Description }}
        <p>{{ . }}</p>
        {{- end }}
        {{- with .Param "started" }}
        <b>Started</b>: {{ . }}<br>
        {{- end }}
        {{- with .Param "ended" }}
        <b>Ended</b>: {{ . }}<br>
        {{- end }}
        {{- with .Param "projectUrl" }}
        <b>More Information</b>: <a href="{{ . | safeURL }}" target="_blank">{{ . }}</a><br>
        {{- end }}
        {{- with .GetTerms "tags" }}
        <b>Tags</b>:{{ range . }} <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>{{ end }}
        {{- end }}
    </aside>
    <div>
        <h1>{{ .Title }}</h1>
{{ .Content }}
    </div>
    <div>
      {{- with .NextInSection }}
        <a href="{{ .RelPermalink }}" class="button">Previous ({{ .Title }})</a>
      {{- end }}
      {{- with .PrevInSection }}
        <a href="{{ .RelPermalink }}" class="button">Next ({{ .Title }})</a>
      {{- end }}
    </div>
  </section>
<script type="application/ld+json">
{
 "@context": "https://schema.org",
 "@type": "BreadcrumbList",
 "itemListElement": [
  {
   "@type": "ListItem",
   "position": 1,
   "item":
   {
    "@id": "https://ra.iner.cc/",
    "url": "https://ra.iner.cc/",
    "name": "Rainer Jung"
   }
  },
  {
   "@type": "ListItem",
   "position": 2,
   "item":
   {
    "@id": "{{ .Section | absURL }}",
    "url": "{{ .Section | absURL }}",
    "name": "{{ .Section | pluralize | humanize }}"
   }
  },
  {
   "@type": "ListItem",
   "position": 3,
   "item":
   {
    "@id": "{{ .Page.Permalink }}",
    "url": "{{ .Page.Permalink }}",
    "name": "{{ .Page.Title }}"
   }
  }
 ]
}
</script>
{{ end }}
