<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="{{ .Params.description }}" name="description" />
    <meta content="index,follow" name="robots" />
    <meta content="{{ .Permalink }}" property="og:url" />
    <meta content="{{ .Site.Title }}" property="og:title" />
    <meta content="{{ .Params.description }}" property="og:description" />
    <meta content="cover.jpg" property="og:image" />
    <meta content="profile" property="og:type" />
    <meta content="Rainer" property="profile:first_name" />
    <meta content="Jung" property="profile:last_name" />
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    <link href="favicon.ico" rel="icon" sizes="32x32 48x48 96x96" />
    <link href="{{ .Permalink }}" rel="canonical" />
    {{- $simpleCss := resources.GetRemote "https://cdn.simplecss.org/simple.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $simpleCss.Permalink }}" integrity="{{ $simpleCss.Data.Integrity }}">
    {{- $styleCss := resources.Get "style.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styleCss.Permalink }}" integrity="{{ $styleCss.Data.Integrity }}">
</head>

<body>
    <header>
        <nav>
            <a href="{{ .Site.BaseURL }}">Home</a>
            <a href="{{ relref . "/project" }}">Projects</a>
        </nav>
        <h1>ra.iner.cc</h1>
    </header>
    {{- block "main" . }}
    <!-- The part of the page that begins to differ between templates -->
    {{- end }}
</body>

</html>