{{ define "title"}}{{ .Site.Title }} - {{ .Section | pluralize | humanize }}{{ end }}
{{ define "main" }}
<main>
    <article>
        {{ .Content }}
    </article>
    <div>
        {{- range .Paginator.Pages }}
        <article>
            <a href="{{ .RelPermalink }}">
                <h2>{{ .LinkTitle }}</h2>
            </a>
            <small>{{ .Description }}</small>
        </article>
        {{- end }}
    </div>
    {{- if gt .Paginator.TotalPages 1 }}
    <hr>
    <div>
        <div>
            {{- with .Paginator.Prev }}
            <a href="{{ .URL }}" aria-label="Previous" class="button" role="button"><span
                    aria-hidden="true">&laquo; Previous</span></a>
            {{- end }}
            {{- with .Paginator.Next }}
            <a href="{{ .URL }}" aria-label="Next" class="button" role="button"><span
                    aria-hidden="true">Next &raquo;</span></a>
            {{- end }}
        </div>
    </div>
    {{- end }}
</main>
<script type="application/ld+json">
{
 "@context": "https://schema.org",
 "@type": "BreadcrumbList",
 "itemListElement": [
  {
   "@type": "ListItem",
   "position": 1,
   "item":
   {
    "@id": "https://ra.iner.cc/",
    "url": "https://ra.iner.cc/",
    "name": "Rainer Jung"
   }
  },
  {
   "@type": "ListItem",
   "position": 2,
   "item":
   {
    "@id": "{{ .Page.Permalink }}",
    "url": "{{ .Page.Permalink }}",
    "name": "{{ .Section | pluralize | humanize }}"
   }
  }
 ]
}
</script>
{{ end }}