{{ define "main" }}
<section>
    <aside>
        <h3>Tags</h3>
        <ul>
            {{ range .Site.Taxonomies.tags }}
            <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> {{ .Count }}</li>
            {{ end }}
        </ul>
    </aside>
    <h2>Tag {{ .LinkTitle }}</h2>
    {{- with .Content }}
    <div>
        {{ . }}
    </div>
    {{- end }}
    <div>
        {{ range .Pages }}
        <article class="pure-u-1 pure-u-md-1-2">
            <a href="{{ .RelPermalink }}">
                <h2>{{ .LinkTitle }}</h2>
            </a>
            <small>{{ .Summary }}</small>
        </article>
        {{ end }}
    </div>
</section>
<script type="application/ld+json">
{
 "@context": "https://schema.org",
 "@type": "BreadcrumbList",
 "itemListElement": [
  {
   "@type": "ListItem",
   "position": 1,
   "item":
   {
    "@id": "https://ra.iner.cc/",
    "url": "https://ra.iner.cc/",
    "name": "Rainer Jung"
   }
  },
  {
   "@type": "ListItem",
   "position": 2,
   "item":
   {
    "@id": "{{ .Page.Permalink }}",
    "url": "{{ .Page.Permalink }}",
    "name": {{ .Page.Title }}
   }
  }
 ]
}
</script>
{{ end }}